In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import crash data
file1 = "LA-Collision-Analysis/Resources/Crashes_2017.csv"
df1 = pd.read_csv(file1)
file2 = "LA-Collision-Analysis/Resources/Crashes_2018.csv"
df2 = pd.read_csv(file2)
file3 = "LA-Collision-Analysis/Resources/Crashes_2019.csv"
df3 = pd.read_csv(file3)

C:\Users\halov\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (6,7,14,15,17,26,29,30,33,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\halov\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,6,7,14,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Concatenate the 3 datasets
crashes_df = pd.concat([df1, df2, df3])
crashes_df

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,6292882,2017.0,2019-04-05,1942.0,2017-09-01,2111.0,41396,1675,5.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.367057,34.233771
1,6292886,2017.0,2017-09-26,1972.0,2017-03-02,1132.0,14197,NaN,4.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,TORRANCE,-118.317765,33.852275
2,6292887,2017.0,2017-09-26,1942.0,2017-03-31,1940.0,40971,1837,5.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.246310,33.935405
3,6292889,2017.0,2017-09-26,1975.0,2017-04-29,350.0,395,NaN,6.0,5.0,...,0.0,0.0,-,-,NaN,NaN,LOS ANGELES,WEST COVINA,-117.916753,34.056691
4,6292894,2017.0,2019-04-05,1900.0,2017-07-12,1808.0,473596,2612,3.0,5.0,...,1.0,0.0,-,-,NaN,NaN,LOS ANGELES,PALMDALE,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,2019-02-01,9535.0,2019-01-01,348.0,022017,NaN,2.0,3.0,...,0.0,0.0,-,-,34.099091,-118.080971,LOS ANGELES,UNINCORPORATED,-118.080933,34.099072
60978,90928226,2019.0,2019-02-18,9530.0,2019-01-01,2300.0,020726,NaN,2.0,3.0,...,0.0,0.0,-,-,33.967400,-118.238197,LOS ANGELES,UNINCORPORATED,-118.238922,33.967396
60979,90937505,2019.0,2019-03-01,9535.0,2019-01-01,405.0,021551,NaN,2.0,3.0,...,0.0,0.0,-,-,33.949791,-118.170532,LOS ANGELES,SOUTH GATE,-118.170502,33.949791
60980,90979889,2019.0,2019-05-01,9535.0,2019-01-01,245.0,021795,NaN,2.0,3.0,...,0.0,0.0,-,-,34.030430,-118.159462,LOS ANGELES,UNINCORPORATED,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Quick glance at data
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186978 entries, 0 to 60981
Data columns (total 80 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CASE_ID                  186978 non-null  object
 1   ACCIDENT_YEAR            186975 non-null  float64
 2   PROC_DATE                186975 non-null  object
 3   JURIS                    186975 non-null  float64
 4   COLLISION_DATE           186975 non-null  object
 5   COLLISION_TIME           186975 non-null  float64
 6   OFFICER_ID               186805 non-null  object
 7   REPORTING_DISTRICT       111003 non-null  object
 8   DAY_OF_WEEK              186975 non-null  float64
 9   CHP_SHIFT                186975 non-null  float64
 10  POPULATION               186975 non-null  float64
 11  CNTY_CITY_LOC            186975 non-null  float64
 12  SPECIAL_COND             186975 non-null  float64
 13  BEAT_TYPE                186975 non-null  float64
 14  CHP_BEAT_TYPE            186975 non-null  object
 15  CITY_DIVISION_LAPD       56962 non-null   object
 16  CHP_BEAT_CLASS           186975 non-null  float64
 17  BEAT_NUMBER              175178 non-null  object
 18  PRIMARY_RD               186975 non-null  object
 19  SECONDARY_RD             186975 non-null  object
 20  DISTANCE                 186975 non-null  float64
 21  DIRECTION                119337 non-null  object
 22  INTERSECTION             186975 non-null  object
 23  WEATHER_1                186975 non-null  object
 24  WEATHER_2                186975 non-null  object
 25  STATE_HWY_IND            186932 non-null  object
 26  CALTRANS_COUNTY          4758 non-null    object
 27  CALTRANS_DISTRICT        4758 non-null    float64
 28  STATE_ROUTE              44574 non-null   float64
 29  ROUTE_SUFFIX             4758 non-null    object
 30  POSTMILE_PREFIX          4758 non-null    object
 31  POSTMILE                 4758 non-null    float64
 32  LOCATION_TYPE            8904 non-null    object
 33  RAMP_INTERSECTION        4758 non-null    object
 34  SIDE_OF_HWY              42976 non-null   object
 35  TOW_AWAY                 185678 non-null  object
 36  COLLISION_SEVERITY       186975 non-null  float64
 37  NUMBER_KILLED            186975 non-null  float64
 38  NUMBER_INJURED           186975 non-null  float64
 39  PARTY_COUNT              186975 non-null  float64
 40  PRIMARY_COLL_FACTOR      186975 non-null  object
 41  PCF_CODE_OF_VIOL         186975 non-null  object
 42  PCF_VIOL_CATEGORY        186975 non-null  object
 43  PCF_VIOLATION            179689 non-null  float64
 44  PCF_VIOL_SUBSECTION      90046 non-null   object
 45  HIT_AND_RUN              186975 non-null  object
 46  TYPE_OF_COLLISION        186975 non-null  object
 47  MVIW                     186975 non-null  object
 48  PED_ACTION               186975 non-null  object
 49  ROAD_SURFACE             186975 non-null  object
 50  ROAD_COND_1              186975 non-null  object
 51  ROAD_COND_2              186975 non-null  object
 52  LIGHTING                 186975 non-null  object
 53  CONTROL_DEVICE           186975 non-null  object
 54  CHP_ROAD_TYPE            186975 non-null  float64
 55  PEDESTRIAN_ACCIDENT      17170 non-null   object
 56  BICYCLE_ACCIDENT         10653 non-null   object
 57  MOTORCYCLE_ACCIDENT      12891 non-null   object
 58  TRUCK_ACCIDENT           6184 non-null    object
 59  NOT_PRIVATE_PROPERTY     186975 non-null  object
 60  ALCOHOL_INVOLVED         15005 non-null   object
 61  STWD_VEHTYPE_AT_FAULT    186975 non-null  object
 62  CHP_VEHTYPE_AT_FAULT     175928 non-null  object
 63  COUNT_SEVERE_INJ         186975 non-null  float64
 64  COUNT_VISIBLE_INJ        186975 non-null  float64
 65  COUNT_COMPLAINT_PAIN     186975 non-null  float64
 66  COUNT_PED_KILLED         186975 non-null  float64
 67  COUNT_PED_INJURED        186975 non-null  float64
 68  COUNT_BICYCLIST_KILLED   186975 non-null  float64
 69  COUNT_BICYCLIST_INJURED  186975 non-null  float64
 70  COUNT_MC_KILLED          186975 non-null  float64
 71  COUNT_MC_INJURED         186975 non-null  float64
 72  PRIMARY_RAMP             186975 non-null  object
 73  SECONDARY_RAMP           186975 non-null  object
 74  LATITUDE                 72057 non-null   float64
 75  LONGITUDE                72057 non-null   float64
 76  COUNTY                   186975 non-null  object
 77  CITY                     186975 non-null  object
 78  POINT_X                  182085 non-null  float64
 79  POINT_Y                  182085 non-null  float64
dtypes: float64(33), object(47)
memory usage: 115.5+ MB

In [5]:
# Turn all '-' values to NaN
crashes_df = crashes_df.replace('-', np.NaN, regex=True)
crashes_df.isnull().sum()

CASE_ID                0
ACCIDENT_YEAR          3
PROC_DATE         186978
JURIS                  3
COLLISION_DATE    186978
                   ...
LONGITUDE         114921
COUNTY                 3
CITY                 212
POINT_X             4893
POINT_Y             4893
Length: 80, dtype: int64

In [6]:
# Checking out one specific column for unique values... values coded as letters - need legend or conversion
crashes_df["TYPE_OF_COLLISION"].value_counts()

C    59158
D    54706
B    22955
G    14730
A    13629
E    12175
H     4113
F     3008
Name: TYPE_OF_COLLISION, dtype: int64

## Exploring Coords

In [7]:
# Looking at Lat/Lng values - checking for nulls
print(f'Null Lat values: {crashes_df["LATITUDE"].isnull().sum()}')
print(f'Null Lng values: {crashes_df["LONGITUDE"].isnull().sum()}')
        # Null X values: 4893
        # Null Y values: 4893

# Lat and Long have roughly same coords as X and Y, yet many are null values

# Looking at X/Y coord values - checking for nulls
print(f'Null X values: {crashes_df["POINT_X"].isnull().sum()}')
print(f'Null Y values: {crashes_df["POINT_Y"].isnull().sum()}')
        # Null Lat values: 114921
        # Null Lng values: 114921

# Would like to find a way to fill in Lat/Lng values where POINT X/Y values are empty

Null Lat values: 114921
Null Lng values: 114921
Null X values: 4893
Null Y values: 4893

## Dropping columns

In [8]:
# dropping columns then exploring remainder
crashes_df_cleaned = crashes_df.drop(columns=[
    "PROC_DATE", "JURIS", "COLLISION_DATE", "OFFICER_ID",
    "REPORTING_DISTRICT", "CHP_SHIFT", "BEAT_TYPE", "CHP_BEAT_TYPE",
    "CITY_DIVISION_LAPD", "CHP_BEAT_CLASS", "BEAT_NUMBER", "PRIMARY_RD",
    "SECONDARY_RD", "DISTANCE", "DIRECTION", "INTERSECTION", "CALTRANS_COUNTY",
    "CALTRANS_DISTRICT", "STATE_ROUTE", "ROUTE_SUFFIX", "POSTMILE_PREFIX", "POSTMILE",
    "RAMP_INTERSECTION", "NOT_PRIVATE_PROPERTY", "PRIMARY_RAMP", "SECONDARY_RAMP", "COUNTY",
    "PCF_CODE_OF_VIOL", "PCF_VIOLATION", "PCF_VIOL_SUBSECTION", "SIDE_OF_HWY", "CNTY_CITY_LOC",
    "WEATHER_2", "CITY", "PED_ACTION", "CHP_VEHTYPE_AT_FAULT", "SPECIAL_COND",
    "STATE_HWY_IND", "CHP_ROAD_TYPE", "ROAD_COND_2", "LOCATION_TYPE", "POPULATION",
    "LONGITUDE", "LATITUDE"
    
])

crashes_df_cleaned

,CASE_ID,ACCIDENT_YEAR,COLLISION_TIME,DAY_OF_WEEK,WEATHER_1,TOW_AWAY,COLLISION_SEVERITY,NUMBER_KILLED,NUMBER_INJURED,PARTY_COUNT,...,COUNT_VISIBLE_INJ,COUNT_COMPLAINT_PAIN,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,POINT_X,POINT_Y
0,6292882,2017.0,2111.0,5.0,B,N,1.0,1.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-118.367057,34.233771
1,6292886,2017.0,1132.0,4.0,A,N,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-118.317765,33.852275
2,6292887,2017.0,1940.0,5.0,A,N,1.0,1.0,0.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-118.246310,33.935405
3,6292889,2017.0,350.0,6.0,A,Y,1.0,1.0,3.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-117.916753,34.056691
4,6292894,2017.0,1808.0,3.0,A,Y,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60977,90905403,2019.0,348.0,2.0,A,Y,3.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.080933,34.099072
60978,90928226,2019.0,2300.0,2.0,A,N,2.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-118.238922,33.967396
60979,90937505,2019.0,405.0,2.0,A,Y,4.0,0.0,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.170502,33.949791
60980,90979889,2019.0,245.0,2.0,A,Y,4.0,0.0,1.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.159470,34.030441
60981,>>>>>>> main,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# examining remaining columns
crashes_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186978 entries, 0 to 60981
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CASE_ID                  186978 non-null  object
 1   ACCIDENT_YEAR            186975 non-null  float64
 2   COLLISION_TIME           186975 non-null  float64
 3   DAY_OF_WEEK              186975 non-null  float64
 4   WEATHER_1                186552 non-null  object
 5   TOW_AWAY                 185678 non-null  object
 6   COLLISION_SEVERITY       186975 non-null  float64
 7   NUMBER_KILLED            186975 non-null  float64
 8   NUMBER_INJURED           186975 non-null  float64
 9   PARTY_COUNT              186975 non-null  float64
 10  PRIMARY_COLL_FACTOR      186585 non-null  object
 11  PCF_VIOL_CATEGORY        186016 non-null  object
 12  HIT_AND_RUN              186975 non-null  object
 13  TYPE_OF_COLLISION        184474 non-null  object
 14  MVIW                     185513 non-null  object
 15  ROAD_SURFACE             185618 non-null  object
 16  ROAD_COND_1              185184 non-null  object
 17  LIGHTING                 186350 non-null  object
 18  CONTROL_DEVICE           185461 non-null  object
 19  PEDESTRIAN_ACCIDENT      17170 non-null   object
 20  BICYCLE_ACCIDENT         10653 non-null   object
 21  MOTORCYCLE_ACCIDENT      12891 non-null   object
 22  TRUCK_ACCIDENT           6184 non-null    object
 23  ALCOHOL_INVOLVED         15005 non-null   object
 24  STWD_VEHTYPE_AT_FAULT    159781 non-null  object
 25  COUNT_SEVERE_INJ         186975 non-null  float64
 26  COUNT_VISIBLE_INJ        186975 non-null  float64
 27  COUNT_COMPLAINT_PAIN     186975 non-null  float64
 28  COUNT_PED_KILLED         186975 non-null  float64
 29  COUNT_PED_INJURED        186975 non-null  float64
 30  COUNT_BICYCLIST_KILLED   186975 non-null  float64
 31  COUNT_BICYCLIST_INJURED  186975 non-null  float64
 32  COUNT_MC_KILLED          186975 non-null  float64
 33  COUNT_MC_INJURED         186975 non-null  float64
 34  POINT_X                  182085 non-null  float64
 35  POINT_Y                  182085 non-null  float64
dtypes: float64(18), object(18)
memory usage: 52.8+ MB

In [10]:
# checking unique values per feature
crashes_df_cleaned.nunique()

CASE_ID                    186901
ACCIDENT_YEAR                   3
COLLISION_TIME               1441
DAY_OF_WEEK                     7
WEATHER_1                       7
TOW_AWAY                        2
COLLISION_SEVERITY              4
NUMBER_KILLED                   5
NUMBER_INJURED                 21
PARTY_COUNT                    16
PRIMARY_COLL_FACTOR             5
PCF_VIOL_CATEGORY              42
HIT_AND_RUN                     3
TYPE_OF_COLLISION               8
MVIW                           10
ROAD_SURFACE                    4
ROAD_COND_1                     8
LIGHTING                        5
CONTROL_DEVICE                  4
PEDESTRIAN_ACCIDENT             1
BICYCLE_ACCIDENT                1
MOTORCYCLE_ACCIDENT             1
TRUCK_ACCIDENT                  1
ALCOHOL_INVOLVED                1
STWD_VEHTYPE_AT_FAULT          15
COUNT_SEVERE_INJ                7
COUNT_VISIBLE_INJ              10
COUNT_COMPLAINT_PAIN           20
COUNT_PED_KILLED                4
COUNT_PED_INJURED               8
COUNT_BICYCLIST_KILLED          2
COUNT_BICYCLIST_INJURED         4
COUNT_MC_KILLED                 3
COUNT_MC_INJURED                6
POINT_X                    103435
POINT_Y                    106957
dtype: int64

In [11]:
# Checking for null values across remaining dataset
crashes_df_cleaned.isnull().sum()

CASE_ID                         0
ACCIDENT_YEAR                   3
COLLISION_TIME                  3
DAY_OF_WEEK                     3
WEATHER_1                     426
TOW_AWAY                     1300
COLLISION_SEVERITY              3
NUMBER_KILLED                   3
NUMBER_INJURED                  3
PARTY_COUNT                     3
PRIMARY_COLL_FACTOR           393
PCF_VIOL_CATEGORY             962
HIT_AND_RUN                     3
TYPE_OF_COLLISION            2504
MVIW                         1465
ROAD_SURFACE                 1360
ROAD_COND_1                  1794
LIGHTING                      628
CONTROL_DEVICE               1517
PEDESTRIAN_ACCIDENT        169808
BICYCLE_ACCIDENT           176325
MOTORCYCLE_ACCIDENT        174087
TRUCK_ACCIDENT             180794
ALCOHOL_INVOLVED           171973
STWD_VEHTYPE_AT_FAULT       27197
COUNT_SEVERE_INJ                3
COUNT_VISIBLE_INJ               3
COUNT_COMPLAINT_PAIN            3
COUNT_PED_KILLED                3
COUNT_PED_INJURED               3
COUNT_BICYCLIST_KILLED          3
COUNT_BICYCLIST_INJURED         3
COUNT_MC_KILLED                 3
COUNT_MC_INJURED                3
POINT_X                      4893
POINT_Y                      4893
dtype: int64

## Replacing binary values

In [12]:
# Confirm columns with only 1 value count are "Y"
print(crashes_df_cleaned["PEDESTRIAN_ACCIDENT"].value_counts())
print(crashes_df_cleaned["BICYCLE_ACCIDENT"].value_counts())
print(crashes_df_cleaned["MOTORCYCLE_ACCIDENT"].value_counts())
print(crashes_df_cleaned["TRUCK_ACCIDENT"].value_counts())
print(crashes_df_cleaned["ALCOHOL_INVOLVED"].value_counts())

Y    17170
Name: PEDESTRIAN_ACCIDENT, dtype: int64
Y    10653
Name: BICYCLE_ACCIDENT, dtype: int64
Y    12891
Name: MOTORCYCLE_ACCIDENT, dtype: int64
Y    6184
Name: TRUCK_ACCIDENT, dtype: int64
Y    15005
Name: ALCOHOL_INVOLVED, dtype: int64

In [13]:
# Replace null value with 0, and "Y" with 1
crashes_df_cleaned["PEDESTRIAN_ACCIDENT"].fillna(0, inplace=True)
crashes_df_cleaned["PEDESTRIAN_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df_cleaned["BICYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df_cleaned["BICYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df_cleaned["MOTORCYCLE_ACCIDENT"].fillna(0, inplace=True)
crashes_df_cleaned["MOTORCYCLE_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df_cleaned["TRUCK_ACCIDENT"].fillna(0, inplace=True)
crashes_df_cleaned["TRUCK_ACCIDENT"].replace("Y", 1,inplace=True)
crashes_df_cleaned["ALCOHOL_INVOLVED"].fillna(0, inplace=True)
crashes_df_cleaned["ALCOHOL_INVOLVED"].replace("Y", 1,inplace=True)

In [14]:
# Replace other null values with 0
crashes_df_cleaned["STWD_VEHTYPE_AT_FAULT"].value_counts()
crashes_df_cleaned["STWD_VEHTYPE_AT_FAULT"].fillna(0, inplace=True)

In [15]:
# Checking null values again
crashes_df_cleaned.isnull().sum()

CASE_ID                       0
ACCIDENT_YEAR                 3
COLLISION_TIME                3
DAY_OF_WEEK                   3
WEATHER_1                   426
TOW_AWAY                   1300
COLLISION_SEVERITY            3
NUMBER_KILLED                 3
NUMBER_INJURED                3
PARTY_COUNT                   3
PRIMARY_COLL_FACTOR         393
PCF_VIOL_CATEGORY           962
HIT_AND_RUN                   3
TYPE_OF_COLLISION          2504
MVIW                       1465
ROAD_SURFACE               1360
ROAD_COND_1                1794
LIGHTING                    628
CONTROL_DEVICE             1517
PEDESTRIAN_ACCIDENT           0
BICYCLE_ACCIDENT              0
MOTORCYCLE_ACCIDENT           0
TRUCK_ACCIDENT                0
ALCOHOL_INVOLVED              0
STWD_VEHTYPE_AT_FAULT         0
COUNT_SEVERE_INJ              3
COUNT_VISIBLE_INJ             3
COUNT_COMPLAINT_PAIN          3
COUNT_PED_KILLED              3
COUNT_PED_INJURED             3
COUNT_BICYCLIST_KILLED        3
COUNT_BICYCLIST_INJURED       3
COUNT_MC_KILLED               3
COUNT_MC_INJURED              3
POINT_X                    4893
POINT_Y                    4893
dtype: int64

## Dropping null values

In [16]:
crashes_df_cleaned.dropna(inplace=True)
crashes_df_cleaned

,CASE_ID,ACCIDENT_YEAR,COLLISION_TIME,DAY_OF_WEEK,WEATHER_1,TOW_AWAY,COLLISION_SEVERITY,NUMBER_KILLED,NUMBER_INJURED,PARTY_COUNT,...,COUNT_VISIBLE_INJ,COUNT_COMPLAINT_PAIN,COUNT_PED_KILLED,COUNT_PED_INJURED,COUNT_BICYCLIST_KILLED,COUNT_BICYCLIST_INJURED,COUNT_MC_KILLED,COUNT_MC_INJURED,POINT_X,POINT_Y
0,6292882,2017.0,2111.0,5.0,B,N,1.0,1.0,0.0,2.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-118.367057,34.233771
1,6292886,2017.0,1132.0,4.0,A,N,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-118.317765,33.852275
2,6292887,2017.0,1940.0,5.0,A,N,1.0,1.0,0.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-118.246310,33.935405
3,6292889,2017.0,350.0,6.0,A,Y,1.0,1.0,3.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-117.916753,34.056691
4,6292894,2017.0,1808.0,3.0,A,Y,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-118.187006,34.602898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60976,90905115,2019.0,2306.0,2.0,A,Y,4.0,0.0,2.0,3.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.167610,33.976299
60977,90905403,2019.0,348.0,2.0,A,Y,3.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.080933,34.099072
60978,90928226,2019.0,2300.0,2.0,A,N,2.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-118.238922,33.967396
60979,90937505,2019.0,405.0,2.0,A,Y,4.0,0.0,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.170502,33.949791
60980,90979889,2019.0,245.0,2.0,A,Y,4.0,0.0,1.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-118.159470,34.030441

## Converting Values

In [17]:
# convert floats to ints (aside from X/Y and ACCIDENT_YEAR, which needs datetime)
dict_column_datatypes = {"DAY_OF_WEEK" : int, "COLLISION_SEVERITY" : int, "NUMBER_KILLED" : int, 
                         "NUMBER_INJURED" : int, "PARTY_COUNT" : int, "COUNT_SEVERE_INJ" : int,
                         "COUNT_VISIBLE_INJ" : int, "COUNT_COMPLAINT_PAIN" : int, "COUNT_PED_KILLED" : int,
                         "COUNT_PED_INJURED" : int, "COUNT_BICYCLIST_KILLED" : int, "COUNT_BICYCLIST_INJURED" : int, 
                         "COUNT_MC_KILLED" : int, "COUNT_MC_INJURED" : int, "COLLISION_TIME" : int}
crashes_df_cleaned = crashes_df_cleaned.astype(dict_column_datatypes)
crashes_df_cleaned.dtypes

CASE_ID                     object
ACCIDENT_YEAR              float64
COLLISION_TIME               int32
DAY_OF_WEEK                  int32
WEATHER_1                   object
TOW_AWAY                    object
COLLISION_SEVERITY           int32
NUMBER_KILLED                int32
NUMBER_INJURED               int32
PARTY_COUNT                  int32
PRIMARY_COLL_FACTOR         object
PCF_VIOL_CATEGORY           object
HIT_AND_RUN                 object
TYPE_OF_COLLISION           object
MVIW                        object
ROAD_SURFACE                object
ROAD_COND_1                 object
LIGHTING                    object
CONTROL_DEVICE              object
PEDESTRIAN_ACCIDENT          int64
BICYCLE_ACCIDENT             int64
MOTORCYCLE_ACCIDENT          int64
TRUCK_ACCIDENT               int64
ALCOHOL_INVOLVED             int64
STWD_VEHTYPE_AT_FAULT       object
COUNT_SEVERE_INJ             int32
COUNT_VISIBLE_INJ            int32
COUNT_COMPLAINT_PAIN         int32
COUNT_PED_KILLED             int32
COUNT_PED_INJURED            int32
COUNT_BICYCLIST_KILLED       int32
COUNT_BICYCLIST_INJURED      int32
COUNT_MC_KILLED              int32
COUNT_MC_INJURED             int32
POINT_X                    float64
POINT_Y                    float64
dtype: object

In [18]:
crashes_df_cleaned["ACCIDENT_YEAR"].astype(str)

0        2017.0
1        2017.0
2        2017.0
3        2017.0
4        2017.0
          ...
60976    2019.0
60977    2019.0
60978    2019.0
60979    2019.0
60980    2019.0
Name: ACCIDENT_YEAR, Length: 172555, dtype: object

In [19]:
# Convert ACCIDENT_YEAR to datetime
crashes_df_cleaned["ACCIDENT_YEAR"] = pd.to_datetime(crashes_df_cleaned["ACCIDENT_YEAR"], format='%Y')
crashes_df_cleaned["ACCIDENT_YEAR"]

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
60976   2019-01-01
60977   2019-01-01
60978   2019-01-01
60979   2019-01-01
60980   2019-01-01
Name: ACCIDENT_YEAR, Length: 172555, dtype: datetime64[ns]

In [20]:
# Remove month and day - only show year
crashes_df_cleaned["ACCIDENT_YEAR"] = crashes_df_cleaned["ACCIDENT_YEAR"].dt.year

# Converts back to int64????
crashes_df_cleaned["ACCIDENT_YEAR"]

0        2017
1        2017
2        2017
3        2017
4        2017
         ...
60976    2019
60977    2019
60978    2019
60979    2019
60980    2019
Name: ACCIDENT_YEAR, Length: 172555, dtype: int64

## Export File

In [ ]:
# Export file
crashes_df_cleaned.to_csv("Resources/crash_cleaned.csv", index=False)

# --------------------------------------------------------

# Other two datasets ---- Searching for matching keys

# --------------------------------------------------------

In [21]:
# # loading in victims csv
# file = "LA-Collision-Analysis/Resources/Victims.csv"
# victims_df = pd.read_csv(file)
# victims_df.info()

In [22]:
# # loading in parties csv
# file = "LA-Collision-Analysis/Resources/Parties.csv"
# parties_df = pd.read_csv(file)
# parties_df.info()

## Only unique key that is shared between tables is CASE_ID
### PAR_NUM is shared between Victims and Parties table.
### Following hierarchy: Crashes -> Parties -> Victims